*{
    margin: 0%;
}



.article{
    margin: 1.5%;
    padding: 1.5%;
    border: 1px solid hsl(0, 0%, 50%);
    border-radius: 3%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, auto);
}

.texto {
    padding: 20px;
    display: grid;
    grid-column: 1 / 4;
}

img {
    max-width: 500px;
}

.img {
    grid-column: 4 / 5;
    grid-row: 1 / 2;
}